<a href="https://colab.research.google.com/github/antfolk/BMEN35/blob/main/Session1/BMEN35_Ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this first notebook, you will learn some of the basics of Python. General syntax and similar stuff. We can add number as below

In [ ]:
5+7

Or we can use floating point numbers

In [ ]:
3.5 + 8

11.5

We can define variables. We don't necessearily needs to define the type of the variable (as in eg. C or Java with int myAge = 150). In colab you can also view variables by clicking on {x} in left toolbar

In [ ]:
myAge = 356
myName = 'Lund University'

And we can find out the types of the variable by using `type()`

In [ ]:
type(myAge)

int

In [ ]:
type(myName)

We can define two numbers and add them. Also pay attention to what happen in the Variables window to the left.

In [ ]:
first_num = 2
second_num = 4
result = first_num + second_num
print(result)

We can also do things that may not be what we wanted... Before you run the cell, think what the results will be (`my_yearly_incomes`)

In [ ]:
my_incomes = '1000'
my_yearly_incomes = 12*my_incomes
print(my_yearly_incomes)

This is probaly more what is wanted

In [ ]:
my_salary = 1000
my_yearly_income = 12*1000
print(my_yearly_income)

Some of the more "advanced" data types in Python are `list`,`tuple`, `set` and `dictionary`. These are typically used to store *collections* of data. We will explore lists first. 
List items are ordered, changeable, and allow duplicate values. Ordered means that items have a defined order and that order will not change. If a new item is added to a list, the new item will be placed at the end of the list. Changable means items can be changed, added or removed after the list was created. You can acces elements in a list through indexing.

A list is created as below (note the use of square brackets [ ]) :

In [ ]:
my_list = ['Lund' , 'Stockholm', 'Malmö', 'Malmö']
print(my_list)

A list can have different datatypes

In [ ]:
diff_list = [12, 'my_age', True, 3.14, 'Lund']
print(type(diff_list))
print(type(diff_list[4]))

There are several ways of manipulating lists.

In [ ]:
numbers_list = [1,3,4,5,6,7]
numbers_list.insert(1,2)
print(numbers_list)
numbers_list.append(8)
print(numbers_list)
numbers_list.extend([9,10,11])
print(numbers_list)

The next datatype is `tuple`. A tuple is a collection which is ordered and **unchangeable** and allow duplicate values.

A tuple is created as below (note the use of round brackets ( ) ):

In [ ]:
numbers_tuple = (1,2,3,4,5)
print(type(numbers_tuple))
print(numbers_tuple[0])

A tuple is unchangeable so the following wont work

In [ ]:
numbers_tuple.insert(1,2)

The next datatype is dictionary, Dictionaries are used to store data values in **key:value pairs**. A dictionary is a collection which is ordered, changeable and **do not allow duplicates**.

A dictionary is created as below (note the use of curly bracket **{ }** )

In [ ]:
furniture_dict = {"brand": "Ikea", "model": "Billy", "year": 2015, "model": 'Kallax'}
print(type(furniture_dict))
print(furniture_dict)

Dictionaries can be accessed using the "key"

In [ ]:
print(furniture_dict['brand'])

In the next part we will look at program "flow control". You are familiar with these concepts (`if` statements, `for`-loop, `while`-loop). We will start with an example of the while statement. Pay attention to the **:** and indentation. Indentation is the Python way of grouping statement (instead of eg curly brackets in C or Java or an end statement in Matlab)

In [ ]:
# Calculate squares
i = 1
while i < 10:
  print(i*i)
  i+=1

Now lets take a look at `if` statements. In Python they consist of `if`, `elif`, `else`.

In [ ]:
x = int(input("Please enter an integer: "))

if x < 0:
  print('Negative')
elif x == 0:
    print('Zero')
else:
    print('Positive')

The `for`statement in Python are somewhat different from what you may be used to. Python can iterate over the items of any sequence. Python can only iterate over "iterable" items.

In [ ]:
my_weird_list = [12, 'my_age', True, 3.14, 'Lund']
for i in my_weird_list:
  print(i)

The `range()`function is sometimes useful in for-loops.

In [ ]:
for i in range(5):
  print(i)

In [ ]:
for j in range(0,10,2):
  print(j)

There are other flow control statements that can be useful at times, for example the `match - case` which are similar to `switch - case` in C or Java

The next thing we will look into is the use of functions (or methods if you more into the OOP jargon). A function is a block of code which only runs when it is called. You can pass data (parameters) to a function and a function can return data as a result. In Python functions are defined by the `def` keyword. Function prototypes are not necessary and return types need not be specified (as in C or Java).

In [ ]:
def my_funky_function():
  print("I am a funky function")

Now, nothing happened because the function was not called. A function is called by using the function name

In [ ]:
my_funky_function()

A function can take parameters/arguments and return something. For example

In [ ]:
def my_add_function(x,y):
  return (x+y)

a = my_add_function(5,4) 
print(a)

Part of the "magic" of Python are the extensive libraries and parts of these are the modules. A module is a file with functions. This makes writing a program easier since you can "hide" a lot of code in modules.

In order to try this (in colab), go to Files in the left menu. Right-click in the list and select New file. Change the name of the file to `myfirstmodule.py` . 

If this doesn't work run the following cell.

In [ ]:
!touch myfirstmodule.py

Now you should have a file named myfirstmodule.py.

Double click the file and write a function named `my_cool_adder()` that take three numbers as a argument and returns their sum.

Run the code below.

In [ ]:
import myfirstmodule
a = myfirstmodule.my_cool_adder(2,3,4)
print(a)

Make a new file named mysecondmodule.py . Write a new function named my_cool_multiplier that multiplies 3 number (keep in mind indentation). Run the code below.

In [ ]:
from mysecondmodule import my_cool_multiplier

b = my_cool_multiplier(2,3,4)
print(b)